* {
  margin: 0;
  padding: 0;
  border: none; }

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; }

.flex-item {
  height: 50px;
  flex-basis: 240px;
  padding: 1%; }

@media only screen and (max-width: 480px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    width: 100%;
    margin-left: 1%;
    padding-left: 1%;
    margin-right: 1%; }
  .flex-item {
    background: #ffd800;
    border: 1px solid black;
    padding: 5%;
    margin: 2%; }
  /* .flex-item-special {
        display: none;
      }  */ }

@media only screen and (min-width: 480px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    width: 100%;
    margin-right: 0; }
  .flex-item {
    background: #e1e85c;
    border: 1px solid black;
    padding: 5%;
    margin: 2%; } }

@media screen and (min-width: 800px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin-right: 10%; }
  .flex-item {
    background: #a7e416;
    border: 1px solid black;
    padding: 5%;
    margin: 2%; }
  .flex-item-special {
    display: inline-flex; } }

@media screen and (min-width: 1200px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto; }
  .flex-item {
    height: 50px;
    background: #8f719b;
    border: 1px solid black;
    padding: 5%;
    margin: 2%; }
  .flex-item-special {
    display: flex; } }

